h1{text-align: center;
    color: blue;border:4px solid black;}
.Nirmal{border: 2px solid red;text-align: right;}
h3{text-align: center;color: aqua;}
.Lamrin {border:2px solid red; margin-top: 8px;}
.Lamrin p{text-indent: 30px;}
.kar {border: 2px solid red;margin-top: 8px;}
.kar p{color: red;}
.vino{border: 2px solid red;
margin-top: 8px; text-decoration: line-through dashed orangered;}
.Thi {border: 2px solid red;margin-top: 8px;letter-spacing: 30px;}
.Ram {border: 2px solid red;margin-top: 8px;text-shadow: 3px 2px black;}

